@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Noto+Sans&family=Palanquin+Dark&family=Preahvihear&family=Sedgwick+Ave+Display&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Head-nav
{
    background-color: rgba(66, 66, 241, 0.781);
    display: flex;
    box-shadow: 2px 2px 2px 2px;
}
.Heading
{
    color: rgb(243, 237, 237);
    font-size: 100px;
    margin-left: 500px;
}
.Heading:hover
{
    cursor: pointer;
    color: black;
    width: 320px;
}
a{
    text-decoration: none;
    
}
.Index
{
    position: relative;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
}
.Index button
{
    background-color: whitesmoke;
    border-radius: 30px;
    width: auto;
    box-shadow: 2px 2px 2px 2px;
    color: white;
}
.Index button:hover
{
    background-color: rgb(79, 79, 230);
    
}
.Python
{
    font-size: 35px;
    font-family: 'Preahvihear', sans-serif;
    color: black;
    
}

