
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav
{
    background-color: aqua;
    height: 70px;
    box-shadow: 2px 2px 2px 2px;
}
h1
{
    margin-left: 400px;
    align-items: center;
    display: flex;
    font-size: 50px;
}
.notes
{
    background-color: solid whitesmoke;
}
.notes h2
{
    margin-top:20px;
    color: blue;
    font-size: 40px;
}
.notes li
{
    font-size: 25px;
    margin-top: 20px;
    /* color: lightskyblue; */
}
p
{
    margin-top: 10px;
    font-size: 30px;
    color: solid black;
}
hr
{
    margin-top: 15px;
    height: 8px;
    background-color: black;
    box-shadow: 2px 2px 2px;
}