{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL</title>
    <link rel="stylesheet" href="\static\index.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <img src="\static\299px-DLF_IPL_Logo.svg.png" alt="">
            <a href="https://en.wikipedia.org/wiki/Indian_Premier_League">INDIAN PREMIER LEAGUE</a>
        </div>
        <div class="content">
            <table border="1">
                  <tr>
                    <th>S.NO</th>
                    <th>Team Name</th>
                    <th>Captain</th>
                  </tr>
                  <tr class="chennai">
                    <td>1</td>
                    <td><a href="https://www.chennaisuperkings.com/">Chennai Supper King (CSK)</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/MS_Dhoni">MS DHONI</a></td>
                  </tr>
                  <tr class="Delhi">
                    <td>2</td>
                    <td><a href="https://www.delhicapitals.in/">Delhi Capitals (DC)</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/Rishabh_Pant">Rishabh Pant</a></td>
                  </tr>
                  <tr class="gujrat">
                    <td>3</td>
                    <td><a href="https://www.gujarattitansipl.com/">Gujarat Titans (GT)</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/Shubman_Gill">Shubman Gill</a></td>
                  </tr>
                  <tr class="Kolkata">
                    <td>4</td>
                    <td><a href="https://www.kkr.in/">Kolkata Knight Riders (KKR)</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/Shreyas_Iyer">Shreyas Iyer</a></td>
                  </tr>
                  <tr class="Lucknow">
                    <td>5</td>
                    <td><a href="https://www.lucknowsupergiants.in/">Lucknow Super Giants (LSG)</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/KL_Rahul">KL Rahul</a></td>
                  </tr>
                  <tr Class="Mumbai">
                    <td>6</td>
                    <td><a href="https://www.mumbaiindians.com/">Mumbai Indians (MI)</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/Hardik_Pandya">Hardik Pandya</a></td>
                  </tr>
                  <tr class="Punjab">
                    <td>7</td>
                    <td><a href="https://www.punjabkingsipl.in/">Punjab Kings (PBKS)</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/Shikhar_Dhawan">Shikhar Dhawan</a></td>
                  </tr>
                  <tr class="Bangalore">
                    <td>8</td>
                    <td><a href="https://www.royalchallengers.com/">Royal Challengers Bangalore (RCB)</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/Faf_du_Plessis">Faf du Plessis</a></td>
                  </tr>
                  <tr class="Rajasthan">
                    <td>9</td>
                    <td><a href="https://www.rajasthanroyals.com/">Rajasthan Royals (RR)</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/Sanju_Samson">Sanju Samson</a></td>
                  </tr>
                  <tr class="Hyderabad">
                    <td>10</td>
                    <td><a href="https://www.sunrisershyderabad.in/">Sunrisers Hyderabad (SRH)</a></td>
                    <td><a href="https://en.wikipedia.org/wiki/Abdul_Samad_(Indian_cricketer)">Aiden Markram Abdul Samad</a></td>
                  </tr>
                  
            </table>
        </div>
    </div>
</body>
</html>